# Ignorar arquivos compilados
*.o
*.obj
*.exe
*.out

# Ignorar pastas de build
/build/
/bin/
/dist/
/obsolet/
# Ignorar arquivos de IDE
.vscode/
.idea/
.cache/
# Ignorar arquivos temporários
*.log
*.tmp


/compile_commands.json

# Ignorar dependências (ex: Node.js)
node_modules/
